body {
    margin:0; 
    overflow: hidden;
    font-family: Ubuntu, Arial, sans-serif;
}

#button_lock, #button_locked {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 10px;
}

#spawndiv {
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
}

#spawndiv a {
    color: #22ff55;
    text-decoration: none;
}

#pseudal {
    float: left;
    padding-top: 36px;
}

button {
    float: right;
    width: -webkit-calc(100% - 400px);
    height: 100px;
    font-size: 1.5em;
}