body {
    margin:0; 
    overflow: hidden;
    font-family: Ubuntu, Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

#button_lock, #button_locked {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 10px;
}

#spawndiv {
    position: absolute;
    top : -100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.show {
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;
    -moz-animation-fill-mode: forwards;
}

.hide {
    animation-duration: 1s;
    animation-name: slideout;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slideout;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-duration: 1s;
    -moz-animation-name: slideout;
    -moz-animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

@keyframes slideout {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}

@-webkit-keyframes slidein {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

@-webkit-keyframes slideout {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}