#zoombox {
    position: absolute;
    right: 0px;
    bottom: 10%;
    
    width: 40px;
    height: 60px;
    padding-bottom: 10px;
    z-index: 100;
    
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.zoom {
    color: white;
    text-align: center;
    
    height: 30px;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
  }

/* ************************ */

#spawndiv {
    padding: 10px;
}

#spawndiv button{
    float: left;
    height: 50px;
    width: calc(100% - 20px);
    margin: 10px;
}

#pseudal {
    float: left;
    padding: 0px;
    text-align: center;
    width: 100%;
}