#zoombox {
    position: absolute;
    right: 0;
    bottom: 10%;
    
    width: 40px;
    z-index: 1;
    
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.zoom {
    color: white;
    text-align: center;
    
    height: 48px;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
}

/* ************************ */

#spawndiv {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#spawndiv button{
    float: left;
    height: 50px;
    width: calc(100% - 20px);
    margin-top: 10px;
}

#pseudal {
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}